/* src/components/FriendList/FriendList.module.css */

.friendList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .friend {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .avatarFriend {
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .nameFriend {
    font-weight: bold;
  }
  
  .status {
    font-size: 14px;
  }
  
  .online {
    color: green;
  }
  
  .offline {
    color: red;
  }
  